<div class="container-fluid" ng-app="receta">
  <div class="panel panel-success">

    <div class="panel-heading">
      <h1 ng-if="name">Hey, {{name}}. Are you really {{age}}?</h1>
    </div>

    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
          <input class="form-control" type="number" placeholder="Enter your age" autofocus ng-model="age">
        </div>
      </form>
    </div>

  </div>
</div>
